{% extends 'infraestructura/base.html' %}
{% block title %}Editar - {{ nodo.nombre_host }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-warning text-dark py-3">
                <h4 class="mb-0">Modificar Nodo de Servidor: {{ nodo.nombre_host }}</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'detalle_servidor' nodo.pk %}" class="btn btn-outline-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-warning fw-bold">Actualizar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
